@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030c;
    --font-principal: "Inter", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height:  100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 1,75rem;
    font-weight: 700;

}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 1em;
}

.container__botao__botao {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 1em;
}

.container__aviso {
    font-size: 0,75rem;
    color: var(--cinza-secundario);
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.container__secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.container__secundario__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin: 0.1em;
}

.container__secundario__paragrafo {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__secundario__caixa {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
}

.rodape__texto {
    color: var(--cinza-secundario);
    margin: 0 8em;
    font-size: 14px;

}

.rodape__imagem {
    width: 102px;
    align-items: center;
}

.lista__link a:hover {
    color: var(--botao-azul);
    font-size: 17px;
}

.container__botao:hover {
    background-color: var(--cinza-secundario);
    padding: 1,5em;
    color: var(--cor-fundo);
    font-size: 1,5rem;
    margin-bottom: 1,5em;
}

.container__botao__botao:hover {
    background-color: var(--cinza-secundario);
    color: var(--branco-principal);
    padding: 1,5em;
    color: var(--cor-fundo);
    font-size: 1,5rem;
    margin-bottom: 1,5em;
}